{% load staticfiles %}


<html>
<head>
	<title>Zero Cater WOOO!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'zerocater/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'zerocater/style.css' %}">
	<script type="text/javascript" src="{% static 'zerocater/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'zerocater/jquery.embedly.min.js' %}"></script>
	<script type="text/javascript">

	</script>


</head>
<body id="body">

{% if movie %}	
<h1 id='header'>
	<a href="http://www.imdb.com/title/tt{{movie.movieID}}">{{movie}}</a>
</h1>

<div id="ajax-panel">If you <em>truly</em> are the Czar of Cupcakes, then you will search once more!</div>

{% else %}
<div id="ajax-panel">Search for a movie, Daniel!</div>

{% endif %}


<div id="movieSearch">
	<form action="javascript:calculate()" target="_self">
			{% csrf_token %}

	<input id='search' type="search">
	<input id='submit' type="submit">
</form>
</div>

{% if image %}
<div id="imageWrapper">
 	<a href="{{image}}">
		<img src="https://i.embed.ly/1/display?key=8611448a5024493cad689eb88456783c&url={{image}}&errorurl=http://active-e.www-jp.com/notFound1.gif">
	</a> 
</div>
{% endif %}

{% if cast %}
<div id="bodyWrapper">
	<h2>Cast</h2>

	<div id="castWrapper">
		<h3>
			{% for person in cast %}
			<li class='castMember'>

				<a href="http://www.imdb.com/name/nm{{person.personID}}">{{person.name}}</a>
			</li>
			{% endfor %}
		</h3>
	</div>

</div>

{% endif %}

<script type="text/javascript">

$.ajaxSetup ({
		cache: false
	});


var calculate = function(){

	var searchThis = document.getElementById('search').value;
	searchThis = searchThis.split(' ').join('%20');
	var loadUrl = "/zerocater/" + searchThis;

	var ajax_loading = "<img class='loading' src='{% static 'zerocater/images/loading.gif' %}' alt='loading...' />";

	$.ajax({
		type: "GET",
		beforeSend: function() {
			$("#ajax-panel").html(ajax_loading);
		},
		success: function() {
			$("#body").load(loadUrl);
		},
		error:function() {
    	$('#ajax-panel').html('<p class="error"><strong>Oops!</strong> Try that again in a few moments.</p>');
		}
	});

	console.log(searchThis);
};

</script>

</body>
</html>