body { 
	margin: 0px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	background-color: transparent;

	overflow: auto;
}

#topBorder {
	position: absolute;
	margin-top: 129px;

	background-color: #FFAA00;
	height: 14px;
	width: 100%;

	opacity: 0.6;

	z-index: 105;
}

h1 {
	position: relative;
	margin-top: 0px;

	background-color: #e6e4fa;
	width: 100%;
	height: 120px;
	color: #333;

	opacity: 1;
}


em {
	font-weight: 800;
	font-style: normal;
	color: #444;

	z-index: 10;
}

a {
	font-style: normal;
	text-decoration: none;
	color: black;
}

#h1div {
	position: relative;
	float: left;
	margin-top: 0px;

	background-color: transparent;
	width: 12.5%;
	height: 100%;
}

#head {
	position: relative;
	float: left;
	margin: 30px -523px 0px 20px;
	z-index: 2;	

	background-color: transparent;
	width: 68%;
	min-width: 580px;

	font-weight: 400;
	font-size: 68px;
	text-align: center;

	opacity: 1;
}

#intro {
	position: relative;
	background-color: transparent;
	width: 50%;
	min-width: 380px;
	color: #333;

	font-weight: 100;

	font-size: 20px;
	line-height: 1.3;

	text-align: right;

	margin: 85px auto 0px 300px;
	padding: 15px 0px 0px 10%;

	z-index: 0;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;	
}

.introVis {
	opacity: 0.9;
	visibility: visible;
}

.introInvis {
	opacity: 0;
	visibility: visible;
}

#aspire {
	position: absolute;
	background-color: transparent;
	width: 50%;
	height: auto;
	min-width: 413px;

		font-weight: 500;

	font-size: 28px;
	line-height: 1.4;

	text-align: right;

	margin: 50px auto 20px 300px;

	padding-left: 10%;
	color: #444;
	opacity: 1;

	z-index: 100;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#musician {
	position: static;
	color: #FFDD00;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 102;
}

#developer {
	position: static;
	color: #FFAA00;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 102;

}

#human {
	position: static;
	color: #FF8400;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 102;
}

#musician:hover, #developer:hover, #human:hover {
	position: relative;
}

	.toolTip {
		position: absolute;
		margin: -80px 0px 0px 77%;
		overflow: hidden;

		font-size: 16px;
		font-weight: 200;
		text-align: center;
		color: #222;

		background-color: #000;
		border-radius: 15px;
		width: 15px;
		height: 15px;

		z-index: 1;

		visibility: hidden;
		opacity: 0;

		-o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;
	}


	.toolTipHover {
		position: absolute;
		margin: -83px 0px 0px 84.3%;
		overflow: hidden;

		font-size: 16px;
		font-weight: 100;
		text-align: center;
		color: #000;

		background-color: transparent;
		border-radius: 128px;
		width: 88px;
		height: 88px;

		cursor: default;
		z-index: 1;

		visibility: visible;
		opacity: 0.7;

		-o-transition: all 0.3s ease-out 0.4s;
		-ms-transition: all 0.3s ease-out 0.4s;
		-moz-transition: all 0.3s ease-out 0.4s;
		-webkit-transition: all 0.3s ease-out 0.4s; 
		transition: all 0.3s ease-out 0.4s;
	}

	.triangle-isosceles {
		position:absolute;
		margin: -75px 0px 0px 74%;
	    display:block; 
		clear: both;

		visibility: hidden;
		opacity: 0;

		background-color: transparent;

		cursor: default;
	    
	    z-index: 0;

	    -o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;
	}

	.triangleHover {
		position:absolute;
		margin: -130px 0px 0px 82%;
	    z-index: 0;

		background-color: transparent;
		border-radius: 200px;
		height: 150px;
		width: 150px;

	    cursor: default;
	 
	    visibility: visible;
		opacity: 0.7;
	    
	    -o-transition: all 0.3s ease-out 0.4s;
		-ms-transition: all 0.3s ease-out 0.4s;
		-moz-transition: all 0.3s ease-out 0.4s;
		-webkit-transition: all 0.3s ease-out 0.4s; 
		transition: all 0.3s ease-out 0.4s;
	}

	/*FFD300 - Yellow
	FFBB00 - Orange
	FF9400 - Dark Orange
	*/


	#toolTip1 {
		background-color: #FFD300;

	}

	#toolTip2 {
		background-color: #FFBB00;

	}

	#toolTip3 {
		background-color: #FF9400;

	}

/* Contact */

	#trianglePhone {
		position: absolute;
		margin: 0px 0px 0px -8px;

		background-color: #FFD300;
		border-radius: 30px;
		height: 30px;
		width: 30px;

		opacity: 0.6;
	}

	#triangleEmail {
		position: absolute;
		margin: 10px 0px 0px 37px;
		
		background-color: #FFAA00;
		border-radius: 30px;
		height: 30px;
		width: 30px;

		opacity: 0.6;	
	}

	#phone {
		position: absolute;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;

		cursor: default;
	}

	#email {
		position: absolute;
		margin: 10px 0px 0px 45px;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;

		cursor: default;
	}

	.contactTextDark {
		margin: 0px 0px 0px 1px;

		color: #444;
		font-size: 22px;
		line-height: 1;
		text-shadow: 0px 0px 0px transparent;
		font-weight: 800;
	}

	.contactTextLight {
		margin: 1px 0px 0px 1px;

		color: #666;
		font-size: 22px;
		line-height: 1;
		text-shadow: 0px 0px 0px transparent;
		font-weight: 300;
	}

#aboutPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	height: 260px;
	min-width: 520px;

	overflow: hidden;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: -40px 10% 20px 320px;

	padding-left: 10%;
	padding-bottom: 30px;

	color: #666;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#resumePage {
	position: absolute;
	background-color: transparent;
	width: 100%;
	min-width: 580px;
	height: 300px;

	overflow-y: hidden;
	overflow-x: visible;

	font-weight: 300;

	font-size: 24px;
	line-height: 1.5;


	margin: -40px 0px 20px 0px;

	padding-top: 0px;
	padding-left:0px;

	color: #333;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#contactPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	min-width: 580px;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: -40px auto 20px 320px;

	padding-left: 10%;

	color: #666;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#aboutPage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 10px;
	height: 550px;
}

	#aboutPage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 30px;
		height: 260px
	}

#resumePage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 10px;
	overflow-y: visible;
	height: 2410px;
}

	#resumePage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 30px;
		overflow-y: hidden;
		height: 260px;
	}

#contactPage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 10px;
}

	#contactPage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 30px;
	}

		#pdfMain {
			position: absolute;
			width: 18%;
			text-align: right;

			margin: 30px 0px 0px 450px;
		}

/* Resume */		#pdfCircle {
			position: absolute;
			font-weight: 200;
			text-align: center;
			background-color: #FF8400;
			clear: both;

			margin-top: -15px;
			margin-left: -67px;

			border-radius: 64px;
			height: 64px;
			width: 64px;

			z-index: 102;

			opacity: 0.6;

			text-shadow:1px 1px 4px #333;

				-o-transition: all 0.5s, text-shadow 0s;
			-ms-transition: all 0.5s, text-shadow 0s;
			-moz-transition: all 0.5s, text-shadow 0s;
			-webkit-transition: all 0.5s, text-shadow 0s; 
			transition: all 0.5s, text-shadow 0s;
		}

		#DLpdf {
			color: #fff;
				margin-top: 15px;
				font-weight: 400;
		}

/* HTML Resume Styling */
		#resumeBody {
			width: 100%;	
			margin: 110px 0px 0px 0%;
			line-height: 1.3;
			height: 200px;
		}

		#resumeProfile {
			width: 45%;
			min-width: 400px;
			margin: 70px 0px -100px 290px;
			padding-left: 15%;
			line-height: 1.3;
			text-align: right;
		}

		.resumeHeaders {
			font-size: 60px;
			color: #000;
			font-weight: 100;

			min-width: 342px;

			margin-top: 15px;
			margin-bottom: -10px;
			margin-right: 70%;
			text-align: right;

			opacity: 0.6;

			z-index: 155;
		}

		.resumeSubHeadDark {
			font-size: 28px;
			min-width: 342px;
			font-weight: 400;
			color: #222;
			margin-top: 0px;
			margin-right: 70%;
			text-align: right;
			line-height: 1.3
		}

		.resumeSubHeadLight {
			min-width: 342px;
			font-size: 20px;
			font-weight: 100;
			color: #333;
			line-height: 1.4;
			margin-top: 0px;
			margin-right: 70%;
			text-align: right;
		}

		.resumeTextDark {
			font-size: 18px;
			font-weight: 800;
			color: #222;
			margin-top: 8px;
			line-height: 1.4;
			margin-left: 31%;
			text-align: left;

		}

		.resumeTextLight {
			font-size: 16px;
			font-weight: 100;
			color: #333;
			margin: 1px 10% 0px 31%;
			line-height: 1.5;
			text-align: left;
		}

		.resumeRight {
			text-align: right;
			margin: 0px;
		}

		#triangleBorderTarget {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FFD300 transparent;
			border-style: solid;
			border-width: 0px 750px 129px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderTeach {
			position: absolute;
		margin: 32px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FFAA00 transparent;
			border-style: solid;
			border-width: 0px 675px 129px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderEducation {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FF8300 transparent;
			border-style: solid;
			border-width: 0px 600px 93px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderSkills1 {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FFD300 transparent;
			border-style: solid;
			border-width: 0px 525px 77px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderSkills2 {
			position: absolute;
		margin: 32px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FFAA00 transparent;
			border-style: solid;
			border-width: 0px 425px 37px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderReferences1 {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 31%;
			
			border-color: #FF8300 transparent;
			border-style: solid;
			border-width: 0px 350px 37px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderReferences2 {
			position: absolute;
			margin: 5px 10% 0px 0px;
			padding-left: 31%;
			
			border-color: #FFD300 transparent;
			border-style: solid;
			border-width: 0px 275px 37px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		#triangleBorderReferences3 {
			position: absolute;
			margin: 5px 10% 0px 0px;
			padding-left: 31%;
			
			border-color: #FFAA00 transparent;
			border-style: solid;
			border-width: 0px 200px 37px 0px ; 
			opacity: 0.6;
			z-index: -10;
		}

		.resumeSpace {
			margin-top: 35px;
		}

		.resumeSpace8 {
			margin-top: 8px;
		}

#navBar {
	position: absolute;
	font-size: 32px;
	margin-top: 50px;
	margin-left: 15%;

	z-index: 100;

}

#About {
	position: absolute;
	margin-top: 0px;
	z-index: 99;

	background-color: #FFD300;

	text-shadow: 1px 1px 2px #555;

}

#Resume {
	position: absolute;
	margin-top: 130px;
	z-index: 99;

	background-color: #FFAA00;

	text-shadow: 1px 1px 2px #555;

}

#Contact {
	position: absolute;
	margin-top: 260px;
	z-index: 99;

	background-color: #FF8400;

	text-shadow: 1px 1px 2px #555;

}

#About:hover, #Resume:hover, #Contact:hover, #pdfCircle:hover {
	cursor: pointer;
	opacity: 0.9;
	background-color: #aaa;



	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#About:active , #Resume:active , #Contact:active , #pdfCircle:active {
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s; 
	transition: all 0.2s;
}

#About:active {
	background-color: #FFd300;
}

#Resume:active {
	background-color: #FFaa00;
}

#Contact:active {
	background-color: #FF8400;
}

#pdfCircle:active {
	background-color: #FFaa00;
}

.navCircle {
	position: absolute;
	margin-top: -10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #000;
	opacity: 0.6;

	z-index: 0;

	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s; 
	transition: all 0.7s;
}

.navCircle:hover {
	width: 110px;
	height: 110px;
	border-radius: 110px;

		-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s; 
	transition: all 0.1s;
}

.aboutClick {
	margin-top: -60px;
	width: 216px;
	height: 216px;
	border-radius: 216px;
	background-color: #FFD300;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.resumeClick {
	margin-top: 50px;
	width: 253px;
	height: 253px;
	border-radius: 253px;
	background-color: #FFAA00;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.contactClick {
	margin-top: 160px;
	width: 260px;
	height: 260px;
	border-radius: 260px;
	background-color: #FF8400;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#navTextAbout {
	position: absolute;
	margin-top: 0px;

	margin-left: 8px;
}

#navTextResume {
	position: absolute;
	margin-top: 0px;

	margin-left: 8px;

}

#navTextContact {
	position: absolute;
	margin-top: 0px;

	margin-left: 6px;
}


.navCircle:hover, .firstLetter:hover, .firstLetterSelected:hover, .navText:hover, .navTextSelected:hover {
	cursor: pointer;
}

.firstLetter {
	position: absolute;
	margin-left: 38px;
	margin-top: 3px;

	background-color: transparent;
	z-index: 101;
	opacity: 1;

	color: #FFF;
	font-size: 86px;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.navText {
	position: absolute;
	margin-top: 52px;
	margin-left: 87px;
	z-index: 11;
	font-size: 32px;


	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;

	color: #000;
}

.navTextSelected {
	position: absolute;
	margin-top: 52px;

	margin-left: 87px;
	z-index: 11;
	font-size: 40px;


	-o-transition: all 0.5s, margin-top 0.3s;
	-ms-transition: all 0.5s, margin-top 0.3s;
	-moz-transition: all 0.5s, margin-top 0.3s;
	-webkit-transition: all 0.5s, margin-top 0.3s; 
	transition: all 0.5s, margin-top 0.3s;

	color: black;
}

#navText1 {
	margin-left: 90px;
}

#navText2 {
	margin-left: 88px;
}

#navText3 {
	margin-left: 92px;
}