body { 
	margin: 0px;
	margin-left: 0px;
	font-weight: 100;

/*	Prevents header border from creating additional webspace
*/	overflow: auto;

	font-family: Helvetica, Arial, sans-serif;

	background-color: transparent;

}

em {
	font-weight: 800;
	font-style: normal;
	color: #444;
	z-index: 10;
}

#topBorder {
	position: absolute;
	background-color: #FFD300;
	height: 14px;
	width: 100%;
	opacity: 0.7;
	margin-top: 129px;

	z-index: 0;
}

h1 {
	position: relative;
	width: 100%;
	height: 120px;
	margin-top: 00px;
	color: #333;
	opacity: 1;

	background-color: #e6e4fa;
}

h3 {

}

#h1div {
	background-color: transparent;

	width: 12.5%;
	height: 100%;
	position: relative;
	float: left;
	margin-top: 0px;
}

/*.toolTip {
	position: absolute;
	font-size: 16px;
	font-weight: 100;
	background-color: #000;
	border-radius: 5px;
	padding: 4px 7px 1px 9px;
	margin: -80px 0px 0px 77%;
	text-align: center;
	color: #333;
	opacity: 1;
	width: auto;
	height: auto;
	box-shadow: 2px 2px 5px #333;

	overflow: hidden;
clear: both;

	z-index: 1;

	visibility: hidden;
	opacity: 0;

	-o-transition: all 0.3s 0s;
	-ms-transition: all 0.3s 0s;
	-moz-transition: all 0.3s 0s;
	-webkit-transition: all 0.3s 0s; 
	transition: all 0.3s 0s;
}


.toolTipHover {
	position: absolute;
	font-size: 16px;
	font-weight: 100;
	background-color: #444;
	border-radius: 5px;
	padding: 6px 8px 4px 10px;
	margin: -60px 0px 0px 86%;
	text-align: center;
	color: #fff;
	opacity: 1;
	width: auto;
	height: auto;
	box-shadow: 2px 2px 5px #333;
clear: both;

	overflow: hidden;

	z-index: 1;

	visibility: visible;
	opacity: 1;

	-o-transition: all 0.3s ease-out 0.4s;
	-ms-transition: all 0.3s ease-out 0.4s;
	-moz-transition: all 0.3s ease-out 0.4s;
	-webkit-transition: all 0.3s ease-out 0.4s; 
	transition: all 0.3s ease-out 0.4s;
}*/

.toolTip {
	position: absolute;
	font-size: 16px;
	font-weight: 200;
	background-color: #FF7400;
	border-radius: 15px;

	margin: -80px 0px 0px 77%;
	text-align: center;
	color: #222;
	opacity: 1;
	width: 15px;
	height: 15px;
	box-shadow: 2px 2px 5px #333;

	overflow: hidden;
clear: both;

	z-index: 1;

	visibility: hidden;
	opacity: 0;

	-o-transition: all 0.3s 0s;
	-ms-transition: all 0.3s 0s;
	-moz-transition: all 0.3s 0s;
	-webkit-transition: all 0.3s 0s; 
	transition: all 0.3s 0s;
}


.toolTipHover {
	position: absolute;
	font-size: 16px;
	font-weight: 400;
	background-color: #FFAA00;
	margin: -30px 0px 0px 86.5%;
	text-align: center;
	color: #fff;

	text-shadow:1px 1px 2px #000;

	width: 128px;
	height: 128px;
	border-radius: 128px;


	box-shadow: 2px 2px 5px #000;

	overflow: hidden;

	z-index: 1;

	visibility: visible;
	opacity: 0.7;

	-o-transition: all 0.3s ease-out 0.4s;
	-ms-transition: all 0.3s ease-out 0.4s;
	-moz-transition: all 0.3s ease-out 0.4s;
	-webkit-transition: all 0.3s ease-out 0.4s; 
	transition: all 0.3s ease-out 0.4s;
}

/*.triangle-isosceles {
	position:absolute;
	
	border-width:0px 0px 13px 24px;
	border-style:solid;
	border-color:#000 transparent;
	margin: -55px 0px 0px 74%;
    display:block; 

	box-shadow: 2px 2px 5px #333;

    z-index: 0;

    visibility: hidden;
	opacity: 0;

	cursor: pointer;
    
clear: both;

    -o-transition: all 0.3s 0s;
	-ms-transition: all 0.3s 0s;
	-moz-transition: all 0.3s 0s;
	-webkit-transition: all 0.3s 0s; 
	transition: all 0.3s 0s;
}

.triangleHover {
	position:absolute;
	
	border-width:0px 0px 13px 24px;
	border-style:solid;
	border-color:#444 transparent;
	margin: -39px 0px 0px 83.5%;
    display:block; 

	box-shadow: 2px 2px 5px #333;

    cursor: pointer;

    z-index: 0;
clear: both;

    visibility: visible;
	opacity: 1;
    
    -o-transition: all 0.3s ease-out 0.4s;
	-ms-transition: all 0.3s ease-out 0.4s;
	-moz-transition: all 0.3s ease-out 0.4s;
	-webkit-transition: all 0.3s ease-out 0.4s; 
	transition: all 0.3s ease-out 0.4s;
}*/

.triangle-isosceles {
	position:absolute;
	
	background-color: transparent;

	margin: -55px 0px 0px 74%;
    display:block; 

	box-shadow: 2px 2px 5px #333;

    z-index: 0;

    visibility: hidden;
	opacity: 0;

	cursor: pointer;
    
clear: both;

    -o-transition: all 0.3s 0s;
	-ms-transition: all 0.3s 0s;
	-moz-transition: all 0.3s 0s;
	-webkit-transition: all 0.3s 0s; 
	transition: all 0.3s 0s;
}

.triangleHover {
	position:absolute;
	
	background-color: #FF7400;
	height: 25px;
	width: 25px;
	border-radius: 25px;



	margin: -20px 0px 0px 83%;


	box-shadow: 1px 1px 5px #000;

    cursor: pointer;

    z-index: 0;
	clear: both;

    visibility: visible;
	opacity: 0.7;
    
    -o-transition: all 0.3s ease-out 0.4s;
	-ms-transition: all 0.3s ease-out 0.4s;
	-moz-transition: all 0.3s ease-out 0.4s;
	-webkit-transition: all 0.3s ease-out 0.4s; 
	transition: all 0.3s ease-out 0.4s;
}

#triangle1 {
	background-color: #a6a4ff;
}

#toolTip1 {
	background-color: #FFD300;

}

#triangle2 {
	background-color: #a6a4ff;
}

#toolTip2 {
	background-color: #FFAA00;

}

#triangle3 {
	background-color: #a6a4ff;

}

#toolTip3 {
	background-color: #FF7400;

}

#trianglePhone {
	background-color: #FFD300;
	position: absolute;
	opacity: 0.8;
	height: 30px;
	width: 30px;
	border-radius: 30px;

	margin: 0px 0px 0px -12px;
}

#triangleEmail {
	position: absolute;
	background-color: #FFAA00;
	opacity: 0.8;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	z-index: 0;

	margin: 0px 0px 0px -12px;
}

#phone {
	text-align: left;
	position: absolute;
	z-index: 10;
	color: #fff;
	font-weight: 400;
	text-shadow: 1px 1px 2px #000;
	background-color: transparent;
}

#email {
	position: absolute;
	z-index: 10;
}

.contactText {
	color: #444;
	font-size: 22px;
	line-height: 1.5;
	text-shadow: 0px 0px 0px transparent;
	font-weight: 800;
}

#head {
	position: relative;
	float: left;
	background-color: transparent;
	width: 68%;
	min-width: 580px;

		font-weight: 400;

	font-size: 68px;

	text-align: center;
	margin: 30px -523px 0px 20px;

	z-index: 2;

	opacity: 1;
}

#intro {
	position: relative;
	background-color: transparent;
	width: 50%;
	min-width: 380px;
	color: #333;

		font-weight: 100;

	font-size: 20px;
	line-height: 1.3;

	text-align: right;

	margin: 85px auto 0px 300px;
	padding: 15px 0px 0px 10%;

	opacity: 0.9;

	z-index: 0;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;	
}

#aspire {
	position: relative;
	background-color: transparent;
	width: 50%;
	height: auto;
	min-width: 380px;

		font-weight: 500;

	font-size: 28px;
	line-height: 1.4;

	text-align: right;

	margin: 50px auto 20px 300px;

	padding-left: 10%;
	color: #444;
	opacity: 1;

	z-index: 10;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#musician {
	color: #FFDD00;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 5;
}

#developer {
	color: #FFAA00;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 5;

}

#human {
	color: #FF7400;
	text-shadow: 1px 1px 2px #555;
	opacity: 1;	
	padding: 4px;
	background-color: transparent;
	z-index: 5;
}

#aboutPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	height: 260px;
	min-width: 520px;

	overflow: hidden;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: -170px 10% 20px 320px;

	padding-left: 10%;
	padding-bottom: 30px;

	color: #666;

	visibility: hidden;
	opacity: 0;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#resumePage {
	position: absolute;
	background-color: transparent;
	width: 50%;
	min-width: 580px;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: 0px auto 20px 320px;

	padding-left: 10%;

	color: #333;

	visibility: hidden;
	opacity: 0;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#pdfMain {
	position: absolute;
	width: auto;
	text-align: left;

	margin: 0px 0px 0px 10%;
}

#pdfCircle {
	position: absolute;
	font-weight: 200;
	text-align: center;
	background-color: #FF7400;
	clear: both;

	margin-top: -15px;
	margin-left: -63px;

	border-radius: 60px;
	height: 60px;
	width: 60px;

	opacity: 0.6;

	text-shadow:1px 1px 4px #333;

		-o-transition: all 0.5s, text-shadow 0s;
	-ms-transition: all 0.5s, text-shadow 0s;
	-moz-transition: all 0.5s, text-shadow 0s;
	-webkit-transition: all 0.5s, text-shadow 0s; 
	transition: all 0.5s, text-shadow 0s;
}

#DLpdf {
	color: #fff;
		margin-top: 15px;
		font-weight: 400;

}

#contactPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	min-width: 580px;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: 0px auto 20px 320px;

	padding-left: 10%;

	z-index: 10px;

	color: #666;

	visibility: hidden;
	opacity: 0;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}


a {
	font-style: normal;
	text-decoration: none;
	color: black;
}

#musician:hover , #developer:hover , #human:hover {
	color: #222;

	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s; 
	transition: all 0.3s;
}

#navBar {
	position: absolute;
	font-size: 32px;
	margin-top: 50px;
	margin-left: 15%;

	z-index: 100;

}

.headCircle {

}

#About {
	position: absolute;
	margin-top: 0px;
	z-index: 99;

	background-color: #FFD300;

	text-shadow: 1px 1px 2px #000;

}

#Resume {
	position: absolute;
	margin-top: 130px;
	z-index: 99;

	background-color: #FFAA00;

	text-shadow: 1px 1px 2px #000;

}

#Contact {
	position: absolute;
	margin-top: 260px;
	z-index: 99;

	background-color: #FF7400;

	text-shadow: 1px 1px 2px #000;

}

#About:hover, #Resume:hover, #Contact:hover, #pdfCircle:hover {
	cursor: pointer;
	opacity: 0.9;
	background-color: #aaa;

	text-shadow: 1px 1px 4px #555;


/*Text shadow at 0s keeps the text from jumping
*/	-o-transition: all 0.5s, text-shadow 0s;
	-ms-transition: all 0.5s, text-shadow 0s;
	-moz-transition: all 0.5s, text-shadow 0s;
	-webkit-transition: all 0.5s, text-shadow 0s; 
	transition: all 0.5s, text-shadow 0s;
}

#About:active {
	background-color: #FFd300;

	-o-transition: all 0.2s, text-shadow 0s;
	-ms-transition: all 0.2s, text-shadow 0s;
	-moz-transition: all 0.2s, text-shadow 0s;
	-webkit-transition: all 0.2s, text-shadow 0s; 
	transition: all 0.2s, text-shadow 0s;
}

#Resume:active {
	background-color: #FFaa00;

	-o-transition: all 0.2s, text-shadow 0s;
	-ms-transition: all 0.2s, text-shadow 0s;
	-moz-transition: all 0.2s, text-shadow 0s;
	-webkit-transition: all 0.2s, text-shadow 0s; 
	transition: all 0.2s, text-shadow 0s;
}

#Contact:active {
	background-color: #FF7400;

	-o-transition: all 0.2s, text-shadow 0s;
	-ms-transition: all 0.2s, text-shadow 0s;
	-moz-transition: all 0.2s, text-shadow 0s;
	-webkit-transition: all 0.2s, text-shadow 0s; 
	transition: all 0.2s, text-shadow 0s;
}

#pdfCircle:active {
	background-color: #FFaa00;

	-o-transition: all 0.2s, text-shadow 0s;
	-ms-transition: all 0.2s, text-shadow 0s;
	-moz-transition: all 0.2s, text-shadow 0s;
	-webkit-transition: all 0.2s, text-shadow 0s; 
	transition: all 0.2s, text-shadow 0s;
}

.navCircle {
	position: absolute;
	margin-top: -10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #000;
	opacity: 0.6;

	z-index: 0;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.aboutClick {
	margin-top: -60px;
	width: 216px;
	height: 216px;
	border-radius: 216px;
	background-color: #FFD300;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.resumeClick {
	margin-top: 50px;
	width: 253px;
	height: 253px;
	border-radius: 253px;
	background-color: #FFAA00;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.contactClick {
	margin-top: 160px;
	width: 260px;
	height: 260px;
	border-radius: 260px;
	background-color: #FF7400;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#navTextAbout {
	position: absolute;
	margin-top: 0px;

	margin-left: 8px;
}

#navTextResume {
	position: absolute;
	margin-top: 0px;

	margin-left: 8px;

}

#navTextContact {
	position: absolute;
	margin-top: 0px;

	margin-left: 6px;
}


.navCircle:hover, .firstLetter:hover, .firstLetterSelected:hover, .navText:hover, .navTextSelected:hover {
	cursor: pointer;
}

.firstLetter {
	position: absolute;
	margin-left: 38px;
	margin-top: 3px;

	background-color: transparent;
	z-index: 101;
	opacity: 1;

	color: #FFF;
	font-size: 86px;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.navText {
	position: absolute;
	margin-top: 52px;
	margin-left: 87px;
	z-index: 11;
	font-size: 32px;


	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;

	color: #000;
}

.navTextSelected {
	position: absolute;
	margin-top: 52px;

	margin-left: 87px;
	z-index: 11;
	font-size: 40px;


	-o-transition: all 0.5s, margin-top 0.3s;
	-ms-transition: all 0.5s, margin-top 0.3s;
	-moz-transition: all 0.5s, margin-top 0.3s;
	-webkit-transition: all 0.5s, margin-top 0.3s; 
	transition: all 0.5s, margin-top 0.3s;

	color: black;
}

#navText1 {
	margin-left: 90px;
}

#navText2 {
	margin-left: 88px;
}

#navText3 {
	margin-left: 92px;
}