#box {
	width: 100px;
	height: 30px;
	background-color: pink;
	margin-left: 50px;
}

body { 
	margin: 0px;
	width: 0px;
	font-family: Helvetica, Arial, sans-serif;
	background-color: transparent;

	overflow: auto;
}

h2 {
	margin: 0%;
	width: 90%
}

em {
	font-weight: 400;
	font-style: normal;
	color: #000;

	z-index: 10;
}

a {
	font-style: normal;
	text-decoration: none;
	color: inherit;
}

#h1div {
	position: relative;
	float: left;
	margin-top: 0px;

	background-color: transparent;
	width: 12.5%;
	height: 100%;
}

#intro {
	position: absolute;
	background-color: transparent;
	width: 68%;
	color: #111;
	min-width: 520px;

	font-weight: 100;

	font-size: 58px;
	line-height: 1.2;

	text-align: right;

	margin: 21px auto 0px 150px;
	padding: 35px 0px 0px 0px;

	z-index: 0;

	overflow-x: hidden;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;	

	text-align: right;
}

.introVis {
	opacity: 0.9;
	visibility: visible;
}

.introInvis {
	opacity: 0;
	visibility: visible;
}

#aspire {
	position: absolute;
	background-color: transparent;
	width: 68%;
	height: auto;
	min-width: 520px;

	font-weight: 100;

	font-size: 30px;
	line-height: 1.1;

	text-align: right;

	margin: 151px 0px 20px 145px;

	padding: 0px 0px 0px 0px;
	color: #222;
	opacity: 1;

	z-index: 10;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#musician {
	position: relative;
	color: #BB6500;
	opacity: 1;	
	padding: 0px 13px;
	margin: 0px -13px 0px 0px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 102;
	font-weight: 500;
	height: auto;
	width: auto;

	-o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;
}

#developer {
	position: relative;
	color: #961800;
	opacity: 1;	
	padding: 0px 13px;
	margin-right: -13px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 102;
	font-weight: 500;

	-o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;

}

#human {
	position: relative;
	color: #002B60;
	opacity: 1;	
	padding: 0px 13px;
	margin-right: -13px;
	background-color: transparent;
	border-radius: 5px;
	z-index: 102;
	font-weight: 500;

	-o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;
}

.asteriskVis {
	position: absolute;
	color: inherit;
	opacity: 0.8;

	-o-transition: opacity 0.5s 0s;
	-ms-transition: opacity 0.5s 0s;
	-moz-transition: opacity 0.5s 0s;
	-webkit-transition: opacity 0.5s 0s; 
	transition: opacity 0.5s 0s;
}

.asteriskInvis {
	position: absolute;
	color: transparent;
	opacity: 0;
}

#aspire .aspireLinkInvert {
	color: #FFF;
	opacity: 0.8;
	margin-right: 0px;
}

#aspire #musician.aspireLinkInvert {
	background-color: #BB6500
}

#aspire #developer.aspireLinkInvert {
	background-color: #961800;
}

#aspire #human.aspireLinkInvert {
	background-color: #002B60;

}

#musician:hover {
	background-color: #BB6500;
}

#developer:hover {
	background-color: #961800;
}

#human:hover {
	background-color: #002B60;
}

#musician:hover, #developer:hover, #human:hover {
	color: #fff;
	opacity: 0.8;
}

#aspire #musician.aspireLinkInvert:hover {
	opacity: 0.9;	
	background-color: transparent;	
	color: #BB6500;
}

#aspire #developer.aspireLinkInvert:hover {
	opacity: 0.9;	
	background-color: #FFF;	
	color: #961800;
}

#aspire #human.aspireLinkInvert:hover {
	opacity: 0.9;	
	background-color: #FFF;	
	color: #002B60;
}



	.toolTip {
		position: absolute;
		margin: -80px 0px 0px 73%;
		overflow: hidden;

		font-size: 16px;
		font-weight: 200;
		text-align: center;
		color: #222;

		background-color: #000;
		border-radius: 15px;
		width: 15px;
		height: 15px;

		z-index: 1;

		visibility: hidden;
		opacity: 0;

		-o-transition: all 0.3s 0s;
		-ms-transition: all 0.3s 0s;
		-moz-transition: all 0.3s 0s;
		-webkit-transition: all 0.3s 0s; 
		transition: all 0.3s 0s;
	}


	.toolTipHover {
		position: absolute;
		margin: -83px 0px 0px 100%;
		overflow: hidden;

		background-color: transparent;
		border-radius: 128px;
		width: 108px;
		height: 108px;

		cursor: default;
		z-index: 1;

		visibility: visible;
		opacity: 0.8;

		-o-transition: all 0.3s ease-out 0.4s;
		-ms-transition: all 0.3s ease-out 0.4s;
		-moz-transition: all 0.3s ease-out 0.4s;
		-webkit-transition: all 0.3s ease-out 0.4s; 
		transition: all 0.3s ease-out 0.4s;
	}

	.toolTipText {
		color: #000;
		font-weight: 100;
		font-size: 16px;
		background-color: transparent;
		cursor: default;

		text-align: center;
		opacity: 1;

		z-index: 100;

	}

	#toolTip1 {
		background-color: #BB6500;

	}

	#toolTip2 {
		background-color: #961800;

	}

	#toolTip3 {
		background-color: #002B60;

	}

/* Contact */

	#circlePhone {
		position: absolute;
		margin: -24px 0px 0px -8px;

		background-color: #BB6500;
		border-radius: 78px;
		height: 78px;
		width: 78px;

		opacity: 0.8;
	}

	#circleEmail {
		position: absolute;
		margin: 49px 0px 0px 42px;
		
		background-color: #961800;
		border-radius: 71px;
		height: 71px;
		width: 71px;

		opacity: 0.8;	
	}

	#circleGit {
		position: absolute;
		margin: 112px 0px 0px 91px;
		
		background-color: #002B60;
		border-radius: 85px;
		height: 85px;
		width: 85px;

		opacity: 0.8;	
	}

	#circleTumblr {
		position: absolute;
		margin: 184px 0px 0px 148px;

		background-color: #BB6500;
		border-radius: 82px;
		height: 82px;
		width: 82px;

		opacity: 0.8;
	}

	#circleFacebook {
		position: absolute;
		margin: 238px 0px 0px 41px;

		background-color: #961800;
		border-radius: 1000px;
		height: 114px;
		width: 114px;

		opacity: 0.8;
	}

	#phone {
		position: absolute;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;

		cursor: default;
	}

	#email {
		position: absolute;
		margin: 70px 0px 0px 50px;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;

		cursor: default;
	}

	#git {
		position: absolute;
		margin: 140px 0px 0px 100px;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;
	}


	#tumblr {
		position: absolute;
		margin: 210px 0px 0px 155px;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;

		cursor: default;
	}

	#facebook {
		position: absolute;
		margin: 280px 0px 0px 50px;
		z-index: 10;

		background-color: transparent;

		color: #fff;
		font-weight: 400;
		text-shadow: 1px 1px 2px #000;
		text-align: left;
	}


	#contactPage a:hover {
	color: black;
	text-decoration: underline;	
	}

	.contactTextDark {
		margin: 0px 0px 0px 1px;

		color: #444;
		font-size: 22px;
		line-height: 1;
		text-shadow: 0px 0px 0px transparent;
		font-weight: 800;
	}

	.contactTextLight {
		margin: 1px 0px 0px 1px;

		color: #666;
		font-size: 22px;
		line-height: 1;
		text-shadow: 0px 0px 0px transparent;
		font-weight: 300;
	}

#aboutPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	height: 260px;
	min-width: 550px;

	overflow: hidden;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: -40px 0px 20px 195px;

	padding-left: 10%;
	padding-bottom: 30px;

	color: #666;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#resumePage {
	position: absolute;
	background-color: transparent;
	width: 100%;
	min-width: 580px;
	height: 300px;

	overflow-y: hidden;
	overflow-x: visible;

	font-weight: 300;

	font-size: 24px;
	line-height: 1.5;


	margin: -40px 0px 20px 0px;

/*
Keeps pdfcircle from being cutoff in nav transition
Compensated for in #aboutPage.pageVis
*/	padding-top: 50px;

	padding-left:0px;

	color: #333;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#contactPage {
	position: absolute;
	background-color: transparent;
	width: auto;
	min-width: 580px;

		font-weight: 300;

	font-size: 22px;
	line-height: 1.5;

	text-align: left;

	margin: 40px 0px 20px 170px;

	padding-left: 10%;

	color: #666;

	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	transition: all 1s;
}

#aboutPage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 144px;
	margin-left: 195px;
	height: 450px;
}

	#aboutPage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 40px;
		height: 260px
	}

#resumePage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 134px;
	overflow-y: visible;
	height: 2410px;
}

	#resumePage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 40px;
		overflow-y: hidden;
		height: 260px;
	}

#contactPage.pageVis {
	opacity: 1;
	visibility: visible;
	margin-top: 210px;
}

	#contactPage.pageInvis {
		opacity: 0;
		visibility: hidden;
		margin-top: 40px;
	}


/* Resume */		
		#pdfMain {
			position: absolute;
			width: 70%;
			text-align: left;

			margin: 260px 0px 0px 31%;
		}

		#pdfCircle {
			position: absolute;
			font-weight: 200;
			text-align: center;
			background-color: #002B60;
			clear: both;

			margin-top: -15px;
			margin-left: -67px;

			border-radius: 64px;
			height: 64px;
			width: 64px;

			z-index: 102;

			opacity: 0.8;


				-o-transition: all 0.5s, text-shadow 0s;
			-ms-transition: all 0.5s, text-shadow 0s;
			-moz-transition: all 0.5s, text-shadow 0s;
			-webkit-transition: all 0.5s, text-shadow 0s; 
			transition: all 0.5s, text-shadow 0s;
		}

		#DLpdf {
			color: #fff;
				margin-top: 15px;
				font-weight: 400;
		}

/* HTML Resume Styling */
		#resumeBody {
			width: 100%;	
			margin: 240px 0px 0px -30px;
			line-height: 1.3;
			height: 200px;
		}

#resumeProfile {
			width: 51%;
			min-width: 470px;
			margin: -50px 0px -100px 65px;
			padding-left: 3%;
			line-height: 1.3;
		}

#resumeProfile .resumeProfileText {

			margin-left: 31%;
			text-align: left;
		}

#resumeProfile .resumeTextLight {
			font-size: 16px;
			font-weight: 100;
			color: #333;
			margin: 1px 0px 0px 31.4%;
			text-align: left;
		}

		.resumeHeaders {
			font-size: 60px;
			color: #000;
			font-weight: 100;

			min-width: 300px;

			margin-top: 15px;
			margin-bottom: -10px;
			margin-right: 70%;
			text-align: right;

			opacity: 0.6;

			z-index: 155;
		}

		.resumeSubHeadDark {
			font-size: 28px;
			min-width: 270px;
			font-weight: 400;
			color: #111;
			margin-top: 0px;
			margin-right: 70%;
			text-align: right;
			line-height: 1.3
		}

		.resumeSubHeadLight {
			min-width: 270px;
			font-size: 20px;
			font-weight: 100;
			color: #111;
			line-height: 1.4;
			margin-top: 0px;
			margin-right: 70%;
			text-align: right;
		}

		.resumeTextDark {
			font-size: 18px;
			font-weight: 800;
			color: #222;
			margin-top: 8px;
			line-height: 1.4;
			margin-left: 31%;
			text-align: left;

		}

		.resumeTextLight {
			font-size: 16px;
			font-weight: 100;
			color: #333;
			margin: 1px 10% 0px 31%;
			line-height: 1.5;
			text-align: left;
		}

		#triangleBorderTarget {
			position: absolute;
		margin: -3px 0px 0px 0px;
		padding-left: 40%;
			
			border-color: #BB6500 transparent;
			border-style: solid;
			border-width: 0px 750px 129px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderTeach {
			position: absolute;
		margin: 32px 10% 0px 0px;
		padding-left: 40%;
			
			border-color: #961800 transparent;
			border-style: solid;
			border-width: 0px 675px 165px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderEducation {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 40%;
			
			border-color: #002B60 transparent;
			border-style: solid;
			border-width: 0px 600px 93px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderSkills1 {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 40%;
			
			border-color: #BB6500 transparent;
			border-style: solid;
			border-width: 0px 525px 77px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderSkills2 {
			position: absolute;
		margin: 32px 10% 0px 0px;
		padding-left: 40%;
			
			border-color: #961800 transparent;
			border-style: solid;
			border-width: 0px 425px 37px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderReferences1 {
			position: absolute;
		margin: -3px 10% 0px 0px;
		padding-left: 40%;
			
			border-color: #002B60 transparent;
			border-style: solid;
			border-width: 0px 350px 37px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderReferences2 {
			position: absolute;
			margin: 5px 10% 0px 0px;
			padding-left: 40%;
			
			border-color: #BB6500 transparent;
			border-style: solid;
			border-width: 0px 275px 37px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		#triangleBorderReferences3 {
			position: absolute;
			margin: 5px 10% 0px 0px;
			padding-left: 40%;
			
			border-color: #961800 transparent;
			border-style: solid;
			border-width: 0px 200px 37px 0px ; 
			opacity: 0.8;
			z-index: -10;
		}

		.resumeSpace {
			margin-top: 35px;
		}

		.resumeSpace8 {
			margin-top: 8px;
		}

#navBar {
	position: absolute;
	font-size: 32px;
	margin-top: 126px;
	width: 580px;
	margin-left: -150px;
	padding-left: 28%;	


	z-index: 100;

-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s; 
	transition: all 0.7s;
}

/*
/Colors

#Yellow: #FFD300

#Orange: #BB6500
#Red: #961800
#Blue: #002B60
*/

#About {
	position: absolute;
	margin-top: 0px;
	z-index: 99;

	background-color: #BB6500;

}

#Resume {
	position: absolute;
	margin-top: 110px;
	z-index: 99;

	background-color: #961800;
}

#Contact {
	position: absolute;
	margin-top: 220px;
	z-index: 99;

	background-color: #002B60;
}

#About:hover, #Resume:hover, #Contact:hover, #pdfCircle:hover {
	cursor: pointer;
	opacity: 0.9;
	background-color: #aaa;



	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#About:active , #Resume:active , #Contact:active , #pdfCircle:active {
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s; 
	transition: all 0.2s;
}

#About:active {
	background-color: #BB6500;
}

#Resume:active {
	background-color: #961800;
}

#Contact:active {
	background-color: #002B60;
}

#pdfCircle:active {
	background-color: #961800;
}

.navCircle {
	position: absolute;
	margin-top: -10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #000;
	opacity: 0.8;

	z-index: 0;

	-o-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-webkit-transition: all 0.7s; 
	transition: all 0.7s;
}

.navCircle:hover {
	width: 110px;
	height: 110px;
	border-radius: 110px;

		-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s; 
	transition: all 0.1s;
}

.aboutClick {
	width: 236px;
	height: 236px;
	border-radius: 416px;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.resumeClick {
	width: 260px;
	height: 260px;
	border-radius: 453px;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.contactClick {
	width: 260px;
	height: 260px;
	border-radius: 460px;
	opacity: 0.8;
	z-index: 10;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#navTextAbout {
	position: absolute;
	margin-top: 0px;

	margin-left: 8px;
}

#navTextResume {
	position: absolute;
	margin-top: 0px;

	margin-left: 11px;

}

#navTextContact {
	position: absolute;
	margin-top: 0px;

	margin-left: 6px;
}


.navCircle:hover, .firstLetter:hover, .firstLetterSelected:hover, .navText:hover, .navTextSelected:hover {
	cursor: pointer;
}

.firstLetter {
	position: absolute;
	margin-left: 38px;
	margin-top: 3px;

	background-color: transparent;
	z-index: 101;
	opacity: 1;

	color: #FFF;
	font-size: 86px;

	text-shadow: 1px 1px 2px #000;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

.navText {
	position: absolute;
	margin-top: 49px;
	font-weight: 100;
	z-index: 11;
	font-size: 36px;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;

	color: #333;
}

.navTextSelected {
	position: absolute;
	margin-top: 49px;

	 -left: 107px;
	z-index: 11;
	font-size: 40px;


	-o-transition: all 0.5s, margin-top 0.3s;
	-ms-transition: all 0.5s, margin-top 0.3s;
	-moz-transition: all 0.5s, margin-top 0.3s;
	-webkit-transition: all 0.5s, margin-top 0.3s; 
	transition: all 0.5s, margin-top 0.3s;

	color: black;
}

#navText1 {
	margin-left: 90px;
}

#navText2 {
	margin-left: 88px;
}

#navText3 {
	margin-left: 92px;
}

#toTop {
	position: fixed;
	z-index: 200;
	height: 75px;
	width: 63px;
	border-radius: 20px;
	padding: 10px 8px;
	background-color: transparent;
	margin: 20px 0px 0px 90%;

	border: 5px solid transparent;


	opacity: 0;

	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s; 
	transition: all 0.5s;
}

#toTop:hover {
	cursor: pointer;

	border: 5px solid #000;

	-o-transition: all 0s;
	-ms-transition: all 0s;
	-moz-transition: all 0s;
	-webkit-transition: all 0s; 
	transition: all 0s;
}