html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;

  text-align: center;
  
}

#thumbnail-view {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;

  z-index: 0;

}


#separator {

  overflow: hidden;

  cursor: pointer;
  position: absolute;
  width: 200%;
  height: 200%;

  margin-top: -20%;
  margin-left: -100%;

  z-index: -10;

/*  background: url(close.png) repeat;
*/

  background-color: transparent;
}




#photo-grid {
  position: absolute;

  width: 100%;
  margin-top: 20%;

  background-color: rgba(255,255,255,0.2);

  text-align: center;
}

.thumbnail {
  position: relative;

  display: inline-block;
  max-width: 150px;
  max-height: 150px;
}




  .pop-up {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    text-align: center;

    padding: 5% 0;
    display: table;
    z-index: 10;

    -webkit-transition: all 0.4s;
  }

  .valign {
    display: table-cell;
/*    vertical-align: middle;
*/    text-align: center;
      margin: 0 0;

    width: 90%;
    min-width: 1080px;

  }
  
    .top-container {
      display: table;
/*      vertical-align: middle;
*/      clear: both;

      width: auto;
      height: auto;


      text-align: center;

      margin: 0 auto;
    }
    
      .photo {


        width: auto;
        height: auto;
        max-width: 720px;
        max-height: none;
        float: left;
        background-color: rgba(0,0,0,0.9);
        display: table-cell;

        vertical-align: middle;

        line-height: 520px;
      }
    
      .photo img {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        max-width: 720px;
        max-height: 520px;

        vertical-align: middle;

      }
    
      .social-area {
        width: 360px;
        max-height: 520px;
/*        background: url('socialNet.jpg');
*/        background-color: white;
        display: inline-block;
      }
      
      .post-info {
        position: relative;
        width: 100%;
        height: auto;
        text-align: left;
      }

      .close {        
        display: block;        
        cursor: pointer;
        position: absolute;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-left: 330px;
        z-index: 10;
      }

      .posted-by-thumb {
        display: inline-block;
        float: left;

        padding: 20px 10px 30px 20px;

        width: 50px;
        height: 50px;
      }


      .posted-by-name {
        display: block;
        color: #3b5998;
        font-size: 12px;

        padding-top: 25px;
      }

      .posted-by-timestamp {
        display: block;
        color: gray;
        font-size: 11px;
        line-height: 16px;
      }

      .post-text {
        position: relative;
        width: 100%;
        display: block;
        font-size: 15px;
        color: #333;
        margin: 39px 0 0 20px;
        padding-bottom: 6px;
        line-height: 18px;
      }

    .interact {
      position: relative;
      height: 50px;
      width: 100%;
      background-color: rgba(0,0,0,0.3)
    }

    .comments {
      position: relative;
      height: 340px;
      width: 100%;
    }

@media all and (max-width: 1200px) {
  .photo {
    background-color: transparent;
/*    background-color: pink;
*/  }
  .photo img {
    max-width: 600px;
  }
  #pop-up {
    margin-left: -5%;
  }
}

@media all and (max-width: 1000px) {
  .photo {
    background-color: transparent;
/*    background-color: red;
*/  }
  .photo img {
    max-width: 400px;
  }
  #pop-up {
    margin-left: -15%;
  }
}

@media all and (max-width: 800px) {
  .photo {
    background-color: transparent;
/*    background-color: blue;
*/  }
  .photo img {
    max-width: 300px;
  }
  #pop-up {
    margin-left: -25%;
  }
}

