body {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background-color: #40627C; 	
		color: black
}

div#code  {
	margin-left: 8%;
	font-size: 12px;
	line-height: 11px;
	width: 638px;
}

#chain {
	width: auto;
	height: auto;
}

div.block {
	position: relative;
	border-radius: 7px;
	border: 9px solid #D0A825;
	margin: 25px 15px;
	background-color: #FFFAE4;
	width: auto;
	height: auto;
	float: left;
}

.title {
	font-size: 58px;
	font-weight: 100;
	margin: 18px 35px;
}

div.tiny {
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 10px;
	line-height: 11px;
	margin: 13px 35px;
}

.text {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;
	margin: 13px 35px;
}

.button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 64px;
	margin: 13px 20px 25px 7%;
	padding: 8px 15px 3px 15px;
	font-weight: 100;

	border-radius: 7px;

	border: 9px solid #D0A825;

	background-color: #FFFAE4;

	-o-transition: all 0.07s 0s;
	-ms-transition: all 0.07s 0s;
	-moz-transition: all 0.07s 0s;
	-webkit-transition: all 0.07s 0s; 
	transition: all 0.07s 0s;

}

.button:hover {
	cursor: pointer;	
	color: #D0A825;
}

.button:active {
/*	background-color: #D0A825;
*/	color: #D0A825;
	border: 9px solid #26393D;
}

.bold {
	font-weight: 500;
}
